<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<h5>
  Adovcate will allow you to ask your friends opinion on life altering situations:
</h5>
<h4> Which salsa to apply at Qdoba? </h4>
<h4> The right resturant to take your date to? </h4>
<h4> Where will Lebron go next? </h4>
